#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_rapidz
#build/rapidzd::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_rapidz)

DEB_INSTALL_EXAMPLES_rapidzd += debian/examples/*
DEB_INSTALL_MANPAGES_rapidzd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix rapidzd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f rapidz-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake rapidz-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_rapidz
	src/test_rapidz

# Ensure wrapper is set executable
binary-post-install/rapidzd:
	chmod +x $(cdbs_curdestdir)usr/bin/rapidzd
binary-post-install/rapidz-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/rapidz-qt
